@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.iframe-container {
    position: relative;
    width: 90%;
    padding-bottom: 50%;
    height: 1000px;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ytplayer {
    /* pointer-events: none; */
}

.left {
    width: 75%;
}

.right {
    width: 25%;
}

.left {
    float: left;
}

.chat {
    float: right;
    border: 2px solid #262626;
    color: white;
    background-color: lightgrey;
}

#progress {
    width: 90%;
    margin-top: 10px;
    height: 12px;
    border: 1px solid black;
}

#bar {
    height: 10px;
    background: #f00;
}

#title {
    font-size: 20px;
    color: rgb(214, 216, 218);
}

#author {
    font-size: 16px;
    color: rgb(214, 216, 218);
}

#play,
#pause {
    background-color: grey;
    border: none;
    color: rgb(214, 216, 218);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#timeline {
    margin-left: 10px;
    font-size: 16px;
    color: rgb(214, 216, 218);
}

#brandname {
    vertical-align: center;
    color: rgb(214, 216, 218);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

#searchForm {
    width: 700px;
}

#searchForm input[type='text'] {
    width: 67%;
    background-color: black;
    height: 35px;
    border: 2px solid #202020;
    font-size: 16px;
    color: rgb(214, 216, 218);
    opacity: 80%;
    padding: 10px;
}

#searchBtn {
    width: 65px;
    height: 33px;
    background-color: rgb(214, 216, 218);
    color: black;
}

.playerNavbar {
    background-color: #1A1E23;
}

.chat-container {
    max-width: 1100px;
    background: #fff;
    margin: 30px auto;
    overflow: hidden;
}

.chat-main {
    background-color: #181818;
}

.chat-messages {
    padding: 30px;
    height: 500px;
    max-height: 500px;
    overflow-y: scroll;
}